#xieyi{
	font-size: 30px;
	color:#7FFFD4;
	width: 70%;
	text-align: center;
	margin-left: 15%;
}
#body2{
	background-image:url(1406758461760050.jpg);
	background-repeat: no-repeat;
	
	background-size: cover;
}
#top{
	font-size: 60px;
	color: #00FFFF;
}