#body1{
	background-image:url(1406758459919787.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
#biao{
	color: #F0FFFF;
	text-align: center;
	margin-top: 6%;
	margin-bottom: 10%;
	background-repeat: no-repeat;
	width: 100%;
}
#tu{
	width: 240px;
	height: 200px;
}
#ziti1{
	font-family: "century gothic";
	color: #00FFFF;
	font-size: 40px;
	
}
#ziti2{
	font-family: "arial black";
	font-size: 30px;
}
#web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}